$blood-red: #A52B21;
$red-red: #C22113;
$red: #CB3220;
$red-orange: #FA5A40;;
$orange-color: #FFA547;
$green: #306559;
$light-green: #9BD31D;
$light-grey: #757575;
$light-white-grey: #CCCCCC;
$light-grey-light: #E4E4E4;

$header-bg-color: rgba(229, 229, 229, 0.92);
$footer-bg-color: #25272A;
$product-border: #777777;

$shadow-color: rgba(0, 0, 0, 0.25);

$primary-text-color: #333333;
$secondary-text-color: #777777;
$alt-text-color: $white-color;

$gradient-orange: linear-gradient(90deg, #FC5756 0%, #F37938 100%);

$header-menu-bg: #123934;
$header-menu-bg-border: #DFB57D;
