.catalog-menu{
    display: none;

    .list__item{
        margin-bottom: 32px;
        a{
            @extend %clean-link;
            color: $primary-text-color;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .list__sub-item{
        margin-top: 16px;
        a{
            @extend %clean-link;
            color: $secondary-text-color;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .menu__sub-list{
        padding-left: 10px;

        @media(min-width: 992px) {
            padding-left: 20px;
        }
    }

    @media(min-width: 768px) {
        display: block;
    }
}