.menu{
    a{
        @extend %clean-link;

        &:hover{
            text-decoration: underline;
        }
    }
}

.header__menu{
    margin-left: auto;
    li{
        margin: 0 5px;
        @media (min-width: 1200px){
            margin: 0 10px;
        }
        @media (min-width: 1400px){
            margin: 0 15px;
        }
    }
    a{
        padding: 8px 5px;
        color: $primary-text-color;
    }
}

.footer__menu{
    a{
        color: $white-color;
    }
}

.sub-menu-products{
    display: none;
}
